.lightb{
    background-color: rgb(224, 225, 225);
    color: rgb(62, 62, 62);
}
.lightmode{
    height: 40px;
    width:120px;
    background-color:rgb(220, 219, 218) ;
    color: #1e1e1e;
    border-radius: 10px;
    border-color: rgb(206, 205, 205);
    border-style: solid;
     transition-property: box-shadow scale font-weight ;
     transition-duration: 0.6s;
     font-family:monospace;
     box-shadow: 0 0 5px rgba(0, 0, 0,0.40);
     margin-left: 5px ;
     margin-bottom: 10px ;
    }
.lightmode:hover{
    box-shadow: 0 0 5px #000000;
    box-shadow: 0 0 30px rgba(0,0,0,0.15);
    border-color: #393939;
    border-width:1px;


}
.dark1{
    height: 40px;
    width:120px;
    background-color:rgb(4, 4, 4) ;
    color: #00FF00;
    border-radius: 10px;
    border-color: rgb(4, 4, 4);
    border-style: solid;
     transition-property: box-shadow scale font-weight ;
     transition-duration: 0.6s;
     font-family:monospace;
     box-shadow: 0 0 5px rgba(8, 255, 16,0.40);
     margin-left: 5px ;
     margin-bottom: 10px ;
}
.dark1:hover{
 box-shadow: 0 0 5px #7FFF00;
 box-shadow: 0 0 30px #7FFF00;
 border-color: #00FF00;
 border-width:1px ;
 
 
}
.div1{
    align-items: top;
    display: inline-block;
    height: 40px;
    width: 400px;
    margin-left: 100px ;

}
.div2{
    display: inline-block;
    width: 140px;
    height: 240px;

}
.darkb{
    background-color: rgb(0, 0, 12);
    color:#00FF00;
}